.container-made {
  max-width: 800px;
}

.movie__img {
  object-fit: cover;
}

.movie__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 220px;
  margin-bottom: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(245, 221, 3, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 156, 8);
  border: none;
  border-radius: 50px;
}